/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* Variables */
:root {
  /* Colors */
  --cyan: #66e2dc;
  --orange: #fa7453;
  --yellow: #ffb964;
  --white: #fff;
  --slate: #191826;

  /* Font */
  --ff-primary: "IBM Plex Sans", sans-serif;

  /* Font Sizes */
  --fs-1: 5.5rem;
  --fs-2: 4rem;
  --fs-3: 2.5rem;
  --fs-4: 1.25rem;
  --fs-5: 1.125rem;
  --fs-6: 1rem;

  /* Font Weights */
  --fw-1: 700;
  --fw-2: 400;

  /* Line Heights */
  --lh-1: 180%;
  --lh-2: 150%;
  --lh-3: 110%;
  --lh-4: 100%;

  /* Letter Spacing */
  --ls-1: -1px;
}

/* Utility Classes */
/* Colors/Background Colors */
.white {
  color: var(--white);
}

.white-bg {
  background-color: var(--white);
}

.slate {
  color: var(--slate);
}

.slate-bg {
  background-color: var(--slate);
}

.orange-bg {
  background-color: var(--orange);
}

/* Text Presets */
.tp-1 {
  font-weight: var(--fw-1);
  font-size: var(--fs-1);
  line-height: var(--lh-4);
  letter-spacing: var(--ls-1);
}

.tp-2 {
  font-weight: var(--fw-1);
  font-size: var(--fs-2);
  line-height: var(--lh-4);
}

.tp-3 {
  font-weight: var(--fw-1);
  font-size: var(--fs-3);
  line-height: var(--lh-3);
}

.tp-4 {
  font-family: var(--fw-2);
  font-size: var(--fs-4);
  line-height: var(--lh-2);
}

.tp-5 {
  font-weight: var(--fw-2);
  font-size: var(--fs-6);
  line-height: var(--lh-2);
}

.tp-5-bold {
  font-weight: var(--fw-1);
  font-size: var(--fs-6);
  line-height: var(--lh-2);
}

.tp-6 {
  font-weight: var(--fw-1);
  font-size: var(--fs-5);
  line-height: var(--lh-1);
}

/* Font */
.ff-primary {
  font-family: var(--ff-primary);
}

/* HTML */
html {
  overflow-x: hidden;
}

/* Body */
body {
  position: relative;
  overflow-x: hidden;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url(./images/bg-pattern-1.svg);
  width: 19.5rem;
  height: 29.25rem;
}

body::before {
  content: "";
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(./images/bg-main-desktop.png) no-repeat center center / cover;
  z-index: -1;
}

/* Header */
header {
  padding: 4rem 10vw 0;
}

/* Main */
main {
  padding-inline: 10vw;
}

/* Heading */
.heading {
  padding-block: 8rem 4rem;
}

.heading h1 {
  margin-bottom: 2.5rem;
  max-width: calc(80vw - 16rem);
}

.heading p {
  width: 65%;
}

/* EQ */
.eq {
  padding-block: 12.5rem;
}

.eq-box {
  height: 37.5rem;
  border-radius: 0.75rem;
  position: relative;
}

.eq-box-phone {
  max-width: 25%;
  min-width: 17.5rem;
  position: absolute;
  left: 5%;
  top: -6rem;
}

.eq-box-pattern {
  position: relative;
  left: 25%;
}

.eq-premium-box {
  padding: 3.5rem;
  width: 55%;
  border-radius: 0.75rem;
  position: absolute;
  right: 4rem;
  top: 5.5rem;
}

.eq-premium-box p {
  margin-block: 1.5rem 2.5rem;
}

.eq-premium-box button {
  border: none;
  width: 100%;
  padding-block: 1rem;
  border-radius: 0.75rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

.eq-premium-box i {
  margin-right: 0.5rem;
}

/* Footer */
footer {
  padding: 4rem 10vw;
  display: flex;
  align-items: center;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.footer-left {
  display: flex;
  align-items: flex-start;
}

footer img {
  margin-right: 5vw;
}

.social-icons {
  display: flex;
  align-self: center;
  margin-left: auto;
  gap: 0.5rem;
}

.social-icons a {
  color: var(--slate);
  font-size: 1.5rem;
  transition: color 0.25s;
}

/* Hover states */
.social-icons a:hover {
  color: var(--orange);
}

.ios:hover {
  background-color: var(--cyan);
  color: var(--slate);
}

.android:hover {
  background-color: var(--yellow);
}

/* Media Queries */
@media screen and (max-width: 58.5rem) {
  /* Variables */
  :root {
    /* Font Sizes */
    --fs-1: 4rem;
    --fs-4: 1.125rem;
  }

  /* Padding */
  header,
  main,
  footer {
    padding-inline: 5vw;
  }

  /* Body */
  body::before {
    background: url(./images/bg-main-tablet.png);
  }

  body:after {
    top: -3rem;
    right: -4rem;
  }

  /* EQ */
  .eq-premium-box {
    padding: 3rem;
  }

  /* Footer */
  .footer-left {
    flex-direction: column;
    gap: 2rem;
  }

  .social-icons {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 42.75rem) {
  /* Variables */
  :root {
    /* Font Sizes */
    --fs-1: 2.5rem;
    --fs-4: 1rem;
  }

  /* Body */
  body::after {
    background: unset;
  }

  body::before {
    background: url(./images/bg-main-mobile.png);
    top: 0;
  }

  /* Main */
  main {
    padding-inline: 0;
  }

  /* Heading */
  .heading {
    padding-top: 4rem;
    padding-inline: 5vw;
  }

  .heading h1 {
    max-width: 100%;
  }

  .heading p {
    width: 100%;
  }

  /* EQ */
  .eq {
    padding-block: 6rem 0;
  }

  .eq-box {
    height: 60rem;
    border-radius: 0;
  }

  .eq-box-phone {
    width: 13rem;
    max-width: unset;
    min-width: unset;
    left: 50%;
    transform: translateX(-50%);
  }

  .eq-box-pattern {
    left: 50%;
    transform: translateX(-50%);
  }

  .eq-premium-box {
    width: 100%;
    right: 0;
    border-radius: 0;
    bottom: 0;
    top: unset;
  }

  /* Footer */
  .footer-content {
    flex-direction: column;
  }

  .social-icons {
    margin-top: 1rem;
    align-self: flex-start;
    margin-left: 0;
  }
}
